.pic {
	border-radius: 50%;
}

.pledges {
	color: purple;
	font-size: 30px;
	font-weight: bolder;
	white-space: pre-line;
	font-style: italic;
	text-shadow: 1px 1px 1px black, 2px 2px 1px black;
	text-align: center;
	letter-spacing: 5px;
}

.tech {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.desc {
	font-weight: bold;
	color: purple;
}

@media only screen and (max-width: 600px) {
	.aboutContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.pic {
		height: 200px;
		width: 200px;
	}
	.desc {
		width: 400px;
	}
	.tech {
		width: 400px;
	}
	.aboutRight {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (min-width: 600px) {
	.aboutContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.pic {
		height: 300px;
		width: 300px;
	}
	.desc {
		width: 400px;
	}
	.tech {
		width: 400px;
	}
	.aboutRight {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (min-width: 768px) {
	.aboutContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		align-content: center;
	}
}

@media only screen and (min-width: 992px) {
	.desc {
		width: 600px;
	}
	.tech {
		width: 600px;
	}
}

@media only screen and (max-width: 1200px) {
	.about {
		position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
	}
}

@media only screen and (min-width: 1200px) {
	.aboutContainer {
		display: flex;
		justify-content: space-evenly;
	}
	.pic {
		height: 400px;
		width: 400px;
	}
	.desc {
		width: 700px;
	}
	.tech {
		width: 700px;
	}
}
