.emailContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.email {
	font-size: 30px;
	border: solid;
	width: 450px;
	border-color: purple;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	color: purple;
}

#to {
	width: 400px;
}

#subject {
	width: 400px;
}

#body {
	height: 450px;
	width: 400px;
}
